{% extends 'base.html' %}
{% block body %}
<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<h1 style="text-align: center">login</h1>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}

    <label for="uname" class="form-label">username</label>
    <input type="text" id="uname" class="form-control" name="username"required="required">

    <label for="pwd" class="form-label">password</label>
    <input type="password" id="password" class="form-control" name="password"required="required">
    <br>

    <button type="submit" class="btn btn-primary" >Login</button>
    <a href="{% url 'register' %} " class="btn btn-warning">Go to register</a>


</form>
</body>
</html>
{% endblock %}